body{
    background-color: white;
    text-align: center;
    
}

article{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left:600px;
    margin-right: 600px;
    background-color: mediumpurple;
}

article p {
    white-space: pre-line;
    font-family: Inter;
    color:aqua;
}

article h1{
    font-family: Agbalumo;
    color:aqua;
}

article img{
    border-radius: 2%;
    outline-width: 2px;
    box-shadow: 0 0 0 2px aqua;
}

footer{
    display: flex;
    position: relative;
    justify-content: space-evenly;
}

footer button{
    font-family: Inter;
    color:mediumpurple;
    text-transform: uppercase;
}

footer button:nth-child(1) {
    padding: 8px;
    background-color: white;
    border-radius: 5px;
    outline-width: 2px;
    box-shadow: 0 0 0 2px aqua;
    border: none;
}

footer button:nth-child(2) {
    padding: 8px;
    background-color: aqua;
    border-radius: 5px;
    outline-width: 2px;
    box-shadow: 0 0 0 2px white;
    border: none;
}
